
<div class="container">


    {symbl_module load="golftime/reisen/request"}


    <div class="row">

        <div class="col-md-{if $PAGE.container->count()}10{else}12{/if}">


            {foreach from=$PAGE.module item=content}

                {symbl_module load=$content->module->ident content=$content holder=$content->holder}

            {/foreach}



        </div>


        {if $PAGE.container->count()}
        <div class="col-md-2">

            {foreach from=$PAGE.container item=relation}

                {if $URL_TK_VALUE}<div style="background-color:yellow;">[{$relation->container->ident}]</div>{/if}
                {symbl_container load=$relation->container->ident relation=$relation}


            {/foreach}

        </div>
        {/if}

    </div>

</div>

