// Styling for the footer
footer {
    padding: 45px 0;
    text-align: center;
    color: #fff;
    background-color: $gray-darker;
    p {
        font-size: .9em;
        margin: 0 0 6px;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: .9em;
                color: #fff;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}
